.container-1{
    background-color: aquamarine;
    display: flex;
    gap: 15px;
}
.box{
    background-color: bisque;
}
.container-2{
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    background-color: tomato;
    width: 20%;
}
@media screen and (max-width:576px){
    .container-1{
        flex-direction: column;
    }
    .container-2{
        flex-direction: column;
        gap: 10px;
    }
    .item{
        width: 80%;
        margin: 0 auto;
    }
}