article{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100%) repeat(2,20px);
}
div{
    background-color: gray;
}
.item-15{
    /* grid-column: span 1; */
    grid-row: span 5;
}
.item-11{
    /* grid-column: span 1;
    grid-row: span 1; */
}
.item-31{
    grid-column: span 3;
    /* grid-row: span 1; */
}
.orange{
    background-color: orangered;
}
@media screen and (max-width:576px){
    article{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: none;
}
.item-15,.item-31,.item-31{
    grid-column: span 1;
    grid-row: span 1;
}
}